<h3>Информация о посте</h3>
	<p>
			<br />
			<%= @row['name_user'] %>
			<br />
			<%= @row['content'] %>
			<br />
			<br />
			Добавлен <%= @row['created_date'] %>
			<br />
			<br />
	</p>
<br />	
<h3>Комментарии</h3>
<br />
<% @comments.each do |comment| %>

	<p>
			<%= comment['name_user'] %>
			<br />
			<%= comment['content'] %>
			<br/>
			<br />
			<span style="font-size: 12px; color: gray">Добавлен <%= comment['created_date'] %></span>
			<hr />
	</p>	

<% end %>

<p>
	<form action="/details/<%= @row['id'] %>" method="POST" role="form">
		<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Напишите ваше имя" style="width: 300px" name="name_user">
		<br />
		<textarea class="form-control" id="exampleFormControlTextarea1" rows="7" name="content" placeholder="Напишите сообщение"></textarea>
		</br>
		<button type="submit" class="btn btn-primary">Добавить комментарий</button>
	</form>
</p>